@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
ul{
    display: flex;
    flex-wrap: wrap;
    gap:12px
}

ul li{
    border: 1px red solid;
    list-style-type: none;
    gap: 12px;
}


a{
    text-decoration: none;
    color:#000;
    text-align: center;
}

/*Footer*/

.lista-footer{
    display: flex;
    flex-flow: column wrap;
    gap:5px;
}